@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-sans-arabic);
  background-color: #f8f8f8;
}

.logo--style{
  filter: drop-shadow(2px 2px 5px cyan);
}

/* body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #f0f0f0;
  min-height: 5rem;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #203040;
  min-height: 5rem;
} */

footer {
  margin-top: auto;
  background-color: #203040;
}